<div class="container">

    <div class="row justify-content-center">
        {{#if driver}}
        <div class="col-4 card mt-5">
            <div class="card-body">
                <h3 class="text-center mb-3 mt-5"> {{driver.name}} {{driver.surname}}</h3>
                <p class="text-center">Nationality: <b>{{driver.nationality}}</b></p>
                <p class="text-center">His current squad is <b>{{driver.constructors}}</b></p>
                <h5 class="text-center">Current Points: <b>{{driver.points}}</b></h5>
            </div>
        </div>
        {{/if}}
        {{#unless driver}}
        <h3 class="text-center mb-3 mt-5">Driver not found</h3>
        {{/unless}}
    </div>
</div>