<div class="container">

    <div class="row justify-content-center">
        {{#if driver}}
        <div class="col-4 card bg-opacity-50 mt-5">
            <div class="card-body">
                <h3 class="text-center mb-3 mt-5"> {{driver.name}} {{driver.surname}}</h3>
                <p class="text-center">Nationality: <b>{{driver.nationality}}</b></p>
                <p class="text-center">His current squad is <b>{{driver.constructors}}</b></p>
                <h5 class="text-center">Current Points: <b>{{driver.points}}</b></h5>
                <form class="d-grid mt-4 mb-3 " action="/draft/add/{{driver.driverId}}" method="POST">
                    <input type="submit" value="Draft" class="btn btn-dark btn-sm">
                </form>
            </div>

        </div>
        {{/if}}
        {{#unless driver}}
        <h3 class="text-center mb-3 mt-5">Driver not found</h3>
        {{/unless}}

    </div>
</div>