<h1 class="text-center">Drivers List</h1>
<div class="row justify-content-center">
    <div class="row justify-content-center">
        <div class="col-md-5 mb-5">
            <form class="d-flex my-3" role="search" action="/drivers/list/year" method="GET">
                <input class="form-control me-2" type="search" name="year"
                    placeholder="Insert a season to search drivers" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
        <div class="col-md-5 mb-5">
            <form class="d-flex my-3" role="search" action="/drivers/list/name" method="GET">
                <input class="form-control me-2" type="search" name="name" placeholder="Insert a name to search drivers"
                    aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>



    {{#each drivers}}
    <div class="col-lg-3 col-md-5 card mx-2 mb-3 bg-light bg-gradient">

        <div class="driver-card card-body">
            <h4 class="mb-4 text-center"> {{givenName}} {{familyName}}</h4>
            <p><b>Birth Day:</b> {{dateOfBirth}}</p>
            <p><b>Nationality:</b> {{nationality}}</p>
        </div>

        <div class="d-grid gap-2 mb-4">
            <a class="btn btn-dark" href="/drivers/{{familyName}}" role="button">Driver info</a>
        </div>

    </div>
    {{/each}}

</div>